[submodule "git-modules/zxw-git-modules.git"]
	path = git-modules/zxw-git-modules.git
	url = https://gitlab.com/zachary-wartell-public/zxw-git-modules.git
[submodule "git-modules/zjw-generic-instructions.git"]
	path = git-modules/zjw-generic-instructions.git
	url = https://gitlab.com/zwartell/zjw-generic-instructions.git
[submodule "git-modules/zxw-mvc.git"]
	path = git-modules/zxw-mvc.git
	url = https://gitlab.com/zachary-wartell/zxw-mvc.git
[submodule "git-modules/zjw-pwa-template.git"]
	path = git-modules/zjw-pwa-template.git
	url = https://gitlab.com/zachary-wartell-public/zjw-pwa-template.git
